.budgetBloc {
    border: 1px solid black;
    border-radius: 600px;
    box-shadow: 15px 14px 5px 5px #552D2D;
    width: 250px;
    height: 150px;
    margin: 0;
    background-color: #AC1E44;
}

.budget {
    margin: 0;
    color: white;
    font-weight: bold;
}

.fa-euro-sign {
    margin-left: 10px;
    margin-right: 0;
}