.card {
    background-color: #E2CDCD;
    border: 0px;
    width: 250px;
    height: 100px;
    margin: auto;
    margin-bottom: 11em;
}

.card-body:hover {
    background-color: #552D2D;
    border-radius: 10px;
    transform: scale(1.10);
    transition: ease-in-out;
    /*transition-duration: 500ms;*/
}

.card-body {
    background-color: #AC1E44;
}

.card-title {
    color: white;
    font-weight: bold;
    margin: 0px;
}

.card-title a:hover {
    color: #AC1E44;
    text-decoration: none;
}

.card-img {
    border-bottom-right-radius: 85px;
    border-bottom-left-radius: 85px;
}

img {
    height: 180px;
}