.card {
    background-color: #E2CDCD;
    border: 0px;
    width: 300px;
    height: 250px;
    margin: auto;
    margin-bottom: 3em;
}

.card-body {
    background-color: #AC1E44;
}

.card-title {
    color: white;
    font-weight: bold;
    margin: 0px;
}

.card-img {
    border-bottom-right-radius: 85px;
    border-bottom-left-radius: 85px;
}

img {
    height: 180px;
}