header {
    background-color: #AC1E44;
    border-radius: 10px;
    margin-bottom: 3em;
  }
  
  .navbar-brand, .nav-item {
    font-weight: bold;
  }
  
  .navbar-toggler {
    border-color: white;
  }