img {
    border-radius: 130px;
    width: 375px;
}

#imgWine {
    margin-bottom: 6em;
}

.imgWine {
    width: 450px;
    height: 300px;
}

@media all and (max-width: 430px) {
    .imgWine {
        width: 350px;
        height: 200px;
    }
}

@media all and (max-width: 380px) {
    .imgWine {
        width: 250px;
        height: 150px;
    }
}