img {
    border-radius: 44px;
    width: 283px;
}

#imgWine {
    margin-bottom: 4em;
    margin-top: 3em;
}

.imgWine {
    width: 300px;
    height: 200px;
}

@media all and (max-width: 430px) {
    .imgWine {
        width: 350px;
        height: 200px;
    }
}

@media all and (max-width: 380px) {
    .imgWine {
        width: 250px;
        height: 150px;
    }
}