footer {
    background-color: #552D2D;
    border-radius: 10px;
    padding-top: 5px;
    bottom: 0px;
    position: relative;
}

svg {
    margin-right: 3em;
    color: white;
}

.svg-inline--fa.fa-w-14 {
    width: 50px;
    height: 50px;
}

@media all and (max-width: 800px) {
    .input-group {
        padding: 0px 180px 0px;
    }
}

@media all and (max-width: 430px) {
    .input-group {
        padding: 0px 25px 0px;
    }
}

@media all and (max-width: 380px) {
    .input-group {
        padding: 0px 20px 0px;
    }

    .form-control {
        font-size: 0.8rem;
    }
}

.Newsletter {
    color: white;
    margin-bottom: 0.5em;
}

li {
    list-style-type: none;
}